<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>
            Cторінка реєстрації
        </h1>
        <!-- Створюємо форму з методом запиту POST -->
        <form method = "post">
            {% csrf_token %} <!-- Токен, який підтверджує оригнальність форми та захищає сервер неоригінального запиту -->
            <input type="text" placeholder="Логін" name="username" required>
            <br>
            <br>
            <input type="password" placeholder="Пароль" name="password" required>
            <br>
            <br>
            <input type="password" placeholder="Підтвердження пароля" name="password_confirm" required>
            <br>
            <br>
            <button>Надіслати</button>
        </form>
        <!-- Виводимо помилки, якщо вони є -->
        {% if same_password == False %}
            <p style="color: red;">Паролі не співподають</p>
        {% elif same_user == True %}
            <p style="color: red;">Такий користувач вже існує</p>
        {% endif %}
    </body>
</html>